.productsCardTitle{
    overflow: hidden;
    height: 4.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
    /* white-space: pre-wrap;  */
}
.title-wraper{
    overflow: hidden;
}